/* src/styles/globals.css */

/* Import CSS variables */
@import './variables.css';

/* Importa las directivas de Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~@fortawesome/fontawesome-free/css/all.min.css";

/* Estilos generales del body */
body {
  background-color: var(--background-light); /* Blanco por defecto */
  color: var(--foreground-light); /* Texto oscuro por defecto */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease; /* Para animaciones suaves de cambios de tema */
}

/* Cuando el modo oscuro está activo, agregamos la clase .dark al body */
body.dark {
  background-color: var(--background-dark); /* Fondo oscuro en modo oscuro */
  color: var(--foreground-dark); /* Texto claro en modo oscuro */
}

/* Estilos específicos para el header */
.header {
  background-color: var(--color-background);  /* Utiliza las variables de color */
  padding: 1rem;
  transition: background-color 0.3s ease; /* Transición suave para el cambio de tema */
}

/* Estilos de los enlaces dentro del header */
.header-logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-foreground); /* Usando variable global */
  transition: color 0.3s ease;
}

/* Estilos del botón del header */
.header-btn {
  padding: 0.5rem;
  border-radius: 0.375rem;
  color: var(--color-foreground);  /* Usando variable global */
  transition: color 0.3s ease;
}

/* Menu de hamburguesa en móviles */
.hamburger-menu {
  background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro con opacidad */
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 40;
  border-radius: 0.5rem;
  backdrop-filter: blur(5px);
}

/* Estilo de los elementos del menú */
.menu-list {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  font-size: 1.125rem;
  font-weight: 500;
}

.menu-list-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 1.125rem;
  font-weight: 500;
}

/* Media Queries y clases de visibilidad para responsive */
.md\:hidden {
  display: none;
}

.md\:block {
  display: block;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

